.post-enter {
  opacity: 0.01;
}

.post-enter.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.post-leave {
  opacity: 1;
}

.post-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.aPost {
  border: 1px solid black;
  text-align: center;
  width: 50%;
  margin-left:25%;
  margin-top: 20px;
}

.aPost h1 {
  font-weight: lighter;
}

.aPost p {
  font-weight: bold;
}

.author {
  color: #ABA;
}
